.dispersionContainer {
  position: relative;
  width: 25vw;
  height: 50vh;

  /* border: 2px solid green; */
  margin: 0px auto;
  border-bottom: 8px solid #0432b3;

  overflow: hidden;
}

.photoContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transform-style: preserve-3d;
}

.photoBox{
    /* border: 1px solid rgb(32, 5, 5); */
    width: 2.5vw;
    height: 4vh;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    box-sizing: border-box;
    background-image: url(/Portfolio/images/Project 9_2-modified.png);
    /* background-size: contain; */
    background-size: 25vw 25vw;
    background-position: 12vw 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
