@media (min-width: 480px) and (max-width: 767px) {
  .dispersionContainer {
    width: 50vw;
    left: 25vw;
    height: 40vh;
  }
  .thanku {
    font-size: 2em;
  }
  #showProject {
    font-size: 1.5em;
  }
  #hideProject {
    font-size: 1em;
    width: 30vw;
    margin-left: 12vw;
    margin-top: 28vh;
  }
  .btn {
    font-size: 1em;
    width: 120%;
  }
  #description {
    position: relative;
    font-size: 1.5em;
  }
  .activeDivCont {
    margin-top: -85vh;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  .dispersionContainer {
    width: 74vw;
    left: 13vw;
    height: 40vh;
  }
  .thanku {
    margin-top: 10vh;
    font-size: 1em;
  }
  #showProject {
    font-size: 1.5em;
    width: 60vw;
    transform: translate(20vw, 0);
  }
  .listText {
    font-size: 0.8em;

    padding-left: 12%;
  }
  .socialHeading {
    display: block;
  }
  .listContainer {
    width: 85vw;
  }
  .listItem {
    grid-template-columns: 1fr 6fr 0.02fr;
    padding-left: 8%;
  }
  .itemRank {
    display: none;
  }
  .listImage {
    padding-left: 40%;
  }
  #hideProject {
    font-size: 0.8em;
    width: 40vw;
    margin-left: 12vw;
    margin-top: 28vh;
  }
  .btn {
    font-size: 1em;
    width: 40vw;
  }
  #description {
    position: relative;
    font-size: 1.4em;
  }
  .btn2:hover {
    transform: scale(1.2);
  }
  .btn1:hover {
    transform: scale(1.2);
  }
  .activeDivCont {
    margin-top: -60vh;
  }
}

@media (max-width: 767px) {
  .sliderImage {
    display: none;
  }
  .name {
    position: relative;
    margin-left: -50vw;
    width: 100vw;
    margin-top: 43vh;
    font-size: 3em;
  }
  .dcont {
    position: relative;
    z-index: 4;
    margin-left: -50vw;
  }
  .listContainer {
    width: 85vw;
  }
  .projectRank {
    display: none;
  }
  .projectWritten {
    display: none;
  }
  .projectImg {
    height: 50vh;
    width: 50vw;
  }
  .projectHeading>h1{

    font-size: 3em;
  }
  .projectHeading {
    margin-left: 0;
    margin-top: -50vh;
  }
  .projectButtons {
    margin-top: 10vh;
  }
  #firstLine {
    margin-top: 7vh;
    margin-left: 65vw;
  }
  #secondLine {
    margin-left: 62vw;
  }
  .activeDiv {
    height: 3%;
  }
  .photoBox{
    background-position: top;
    background-size: 0;
  }
}


@media(min-width:767px){
  .projectHeading>h1{
    background-color: rgba(248, 240, 246, 0.7);
  }
}