.projectContainer{
   margin-top: 5vh;
}

.trial{
    height: 200vh;
}


#project1{
    height: 100vh;
    background-image: linear-gradient(90deg, red, yellow);
}
#project2{
    height: 100vh;
    background-image: linear-gradient(90deg, rgb(162, 0, 255), rgb(251, 50, 15));
    /* overflow: hidden; */

}
#project3{
    height: 100vh;
    background-image: linear-gradient(90deg, cyan, rgb(0, 60, 172));
    /* overflow: hidden; */
}
#project4{
    height: 100vh;
    background-image: linear-gradient(90deg, rgb(250, 56, 192), rgb(191, 194, 7));
}

.pCircle1{
    background-color: rgb(248, 91, 91);
}
.pCircle2{
    background-color: rgb(243, 59, 243);
}
.pCircle3{
    background-color: rgb(15, 216, 216);
}
.pCircle4{
    background-color:  rgb(248, 80, 248);
}




.projectImg{
    overflow: hidden;
    position: relative;
    width: 40vw;
    height: 80vh;
    margin-left: 7vw;
    top: 50vh; transform: translate(0, -50%);
    border: 8px solid black;
}

.projectSlider{
    background-color: rgb(255, 124, 248);
    height: 100%;
    width: 0;
    animation: slideOnImg 0.6s linear ;
}

.projectRank{
    position: absolute;
    width: 15vw;
    height: 25vh;
    margin-left: 3vw;
    margin-top: -20vh;
    /* border:7px solid darkmagenta; */
    overflow: hidden;
}

.projectRank > h1{
    margin-top: -2%;
    font-size: 20vh;
    line-height: 25vh;
    animation: projectRank 1s ease-out;
}

.projectHeading{
    height: 15vh;
    margin-left: 30vw;
    margin-top: -80vh;
    /* border: 2px solid bisque; */
}



.projectHeading > h1{
    width: 100%;
    margin: 0 auto;
    font-size: 10vh;
    line-height: 15vh;
    /* border: 2px solid black; */
    animation: projectHeading 1s ease-out;
}

.headingLine{

    display: block;
    position: absolute;
    border: 2px solid rgb(255, 174, 174);
    width: 15vw;
    /* height: 39vh; */
    border-radius: 1030%;
}
#firstLine{
    margin-top: 4vh;
    margin-left: 55vw;
}
#secondLine{
    margin-left: 62vw;
    margin-top: 4vh;
}

.projectButtons{
    position: relative;
    width: 15vw;
    height: 16vh;
    margin-top:25vh;
    margin-left: 55vw;
}

.btn2:hover{
    transform: scale(1.5);}
    /* and the btn1 will be scaled 0 by javascript */

.btn1:hover ~.btn2{
    transform: scale(0);}

.btn1:hover{
    transform: scale(1.5);}

.btn{
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    border-radius: 20px;
    font-size: 2em;
    transition: transform 0.5s;
    background-color: rgb(255, 221, 127);
    border: 3px inset rgb(12, 12, 12);
    animation: projectButtons 2s ease-out;

}

.btn2{
    margin-top: 5vh;

}

.projectWritten{
    overflow: hidden;
    /* padding: 20px; */
    background-color: aqua;
    position: absolute;
    width: 8vw;
    height: 68vh;
    margin-left: 80vw;
    margin-top: -64vh;
    border: 2px solid sandybrown;
}

.projectTxt{
    /* Its width and height are in opposite units because it is going to rotate by 90 degrees .. */
    width: 68vh;
    height: 8vw;
    margin-top: -8vw;
    margin-left: 0.6vw;
    font-size: 10vw;
    line-height: 8vw;
    /* border: 2px solid black; */


    transform: rotate(90deg);
    transform-origin: 0 8vw;
    animation:  projectWritten 1s ease-out ;
}

.projectCircle{
    /* position: relative; */
    width: 20vh;
    height: 20vh;
    margin-left: 60vw;
    margin-top: 11vh;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* background-color: orange; */
}


.projectHeading, .projectRank, .btn1, .btn2, .projectTxt{
    font-weight: bold;
    text-align: center;

}





/* Animations */


@keyframes slideOnImg{
    0%{
        width: 5%;
        transform: translateX(0);
    }
    50%{
        width: 30%;
        transform: translateX(20vw);
        
    }
    100%{
        width: 5%;
        transform: translateX(40vw);

    }
}

@keyframes projectRank{
    from{
        transform: scale(0.6);
        margin-top: 80%;

    }
    to{
        transform: scale(1);
        margin-top: 0%;
    }
}


@keyframes projectHeading{
    from{
        margin-left: 100%;
    }
    to{
        margin-left: 0;
    }
}

@keyframes projectButtons{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes projectWritten{
    from{margin-top: 70vh;
    }
}











/* This is for styling of navigation of project slides */
#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: rgb(49, 211, 0);
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}
     
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 2px solid white;
}